<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="niklas.app.allergydictionary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoperfekt"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllergyListActivity"
            android:label="@string/title_activity_allergy_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="niklas.app.allergydictionary.MainActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest> <!-- android:screenOrientation="portrait" -->
